/******************************************************************************/
/* Imports                                                                    */
/******************************************************************************/
  @import 'compass';
  @import 'import/scroll_page';
  @import 'import/mixins';
/******************************************************************************/
/* Variables                                                                  */
/******************************************************************************/
  // Base
    $font_family:               Verdana, Arial, sans-serif;
    $font_size:                 15px;
    $item_border:               #22BE98;
    //$item_border:               red;
    $item_font_size:            1.2;
    $item_line_height:          2.4;
    $item_radius:               3px;
    $section_radius:            8px;
  // Draggables
    $draggable_long_width:      190px;
    $draggable_width:           140px;
  // Droppables
    $droppable_item_radius:     7px;

/******************************************************************************/
/* General                                                                    */
/******************************************************************************/
  body {
    @include font-size(1.2);
    font-family: $font_family;
    margin: 0;
    padding: 0;
  }
  #page {
    width: 634px;
  }
/******************************************************************************/
/* Layout                                                                     */
/******************************************************************************/
#activity {
  margin: 2em 15px 1em;
  overflow: hidden;
}
/******************************************************************************/
/* Style                                                                      */
/******************************************************************************/
  #instructions {
    margin: 0 15px;
    text-align: center;
  }
  #activity p { text-align: center; }
  #image-legend {
    margin: 2.5em 15px 1.5em;
    text-align: center;
    img { margin: 0 15px; }
  }
/******************************************************************************/
/* Partials                                                                   */
/******************************************************************************/
%drag_drop_item {
  @include border-radius($item_radius);
  @include font-size($item_font_size, $item_line_height);
  background: #fff;
  border: 1px solid $item_border;
  box-sizing: border-box;
}
/******************************************************************************/
/* Draggables                                                                 */
/******************************************************************************/
.draggables {
  @include border-radius($section_radius);
  border: 1px solid black;
  margin-bottom: 15px;
  h3 {
    @include font-size(1.3, 1.5);
    font-weight: bold;
    height: 15px;
    margin: 15px 5px 10px;
  }
  ul {
    @include inline-block-list;
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    padding: 5px;
    text-align: center;
    width: 100%;
    li {
      height: 25px;
      margin: 3px;
      text-align: left;
      width: $draggable_width;
      &.long { width: $draggable_long_width; }
      .draggable {
        @extend %drag_drop_item;
        background: #fff url('../images/move.png') 5px 5px no-repeat;
        cursor: pointer;
        padding: 0 5px;
        text-indent: 22px;

        // MC-4: Prevent render artifacts on Macs:
        outline: 1px solid transparent;
      }
    }
  }
}
/******************************************************************************/
/* Droppables                                                                 */
/******************************************************************************/
table.droppables {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  td {
    border: 1px solid black;
    padding: 15px 10px;
    text-align: left;
    width: 60%;
    &.droppable { width: 40%; }
  }
}
/******************************************************************************/
/* Buttons                                                                    */
/******************************************************************************/
  $button_on_colour:            black;
  $button_on_background:        #C5E9F5;
  $button_on_background_hover:  darken($button_on_background, 10%);
  $button_off_colour:           lighten($button_on_colour, 50%);
  $button_off_background:       lighten($button_on_background, 5%);
  .print-buttons {
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;
    clear: both;
    .button {
      display: inline-block;
      margin: 10px;
      padding: 7px 10px;
      text-decoration: none;
      @include border-radius(7px);
    }
    .button-on {
      cursor: pointer;
      color: $button_on_colour;
      background-color: $button_on_background;
    }
    .button-on:hover {
      background-color: $button_on_background_hover;
    }
    .button-off {
      pointer-events: none;
      cursor: not-allowed;
      color: $button_off_colour;
      background-color: $button_off_background;
    }
  }
/******************************************************************************/
/* Footer                                                                     */
/******************************************************************************/
  #footer {
    font-size: 11px;
    margin: 10px;
    text-align: center;
    position: relative;
    .version {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
/******************************************************************************/
